@use "variables" as *;
// Spin-animation för laddningsikoner
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Rör texten upp och ned för rubrik h1
@keyframes moveText {
    0% {
        transform: rotate(-2deg) translateY(-3px);
    }
    50% {
        transform: rotate(1deg) translateY(3px);
    }
    100% {
        transform: rotate(-2deg) translateY(-3px);
    }
}

// Pulserande och bounce animation
@keyframes pulseBounce {
    0% {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}

// Bounce-effekt med Tada. La på själv en blinkande effekt och translateY. Inspiration från https://www.tutorialspoint.com/css/css_animation_tada.htm
@keyframes BounceTada {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.9;
    }
    10%,
    20% {
        transform: translateY(-6px) scale(0.9) rotate(-3deg);
        opacity: 1;
    }
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-4px) scale(1.1) rotate(3deg);
        opacity: 0.9;
    }
    40%,
    60%,
    80% {
        transform: translateY(0) scale(1.1) rotate(-3deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1) rotate(0);
        opacity: 0.9;
    }
}

// Hjärtslaganimation
@keyframes heartbeat {
    0%,
    100% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.2);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.2);
    }
    70% {
        transform: scale(1);
    }
}

// Bounce-effekt
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

// Pulserande animation för väderikonen
@keyframes floatWeatherIcon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}