@use "variables" as *;
@mixin button($bg-color, $color) {
    color: $color;
    background-color: $bg-color;
    padding: 0.25rem 1rem;
    border-radius: $radius-medium;
    transition: $transition-base;
    box-shadow: $shadow-medium;
    cursor: pointer;
    font-weight: $fontweight-bold;
    &:hover {
        background-color: $lightened-color-btn;
    }
    &:active {
        background-color: $color-complement;
        color: $color-text;
    }
}