@use "sass:color";
//Färger för knappar och hoover-effekter
$btn-color-primary:#00aeff;
$btn-color-secondary-blue: #0087f548;
$btn-color-secondary:#ec935fec;
$btn-color-hover:#8338EC;
//Färger för layout
$color-accent: #05cfcf5b;
$color-bg:#f1eedd;
$color-sun:#f9c64fbd;
$color-yellow: #f9c64f;
$color-bg-dark-mode: #07151b;
$color-bg-dark-hover:#022d4183;
$color-bg-dark:#464747c0;
$color-bg-orange: #ec6d04;
$color-bg-orange-hover: #ec9a5648;
$color-bg-blue:#6e6eeca8;
$color-bg-main-dark: #022d41;
//Färger för text
$color-text: #1A1A1A;
$color-white:#fff;
$color-black:rgba(0, 0, 0, 0.61);
$color-text-secondary: #6C757D;
$color-text-error:#ca1616e3;
$color-span: #3A7AFE;
$color-span-darkmode: #5F90F2;
$color-text-info: #022d41;
$glowy-text: #ff7300;
$glowy-text-dark: #A84C00;
$glowy-text-darkmode: #fe943d;
//Komplement färger
$color-complement: color.complement($btn-color-primary);
$color-complement-hover: color.complement($btn-color-hover);
// Skala färg till ljusare och mörkare för knappar
$darkened-color-btn: color.scale($btn-color-primary, $lightness:-50%);
$lightened-color-btn: color.scale($color-white, $lightness:60%);
$primary-dark: shade($btn-color-primary, 50%);
$primary-light: tint($btn-color-primary, 50%);
// Färger diverse
$element-color: #f3b406;
$complement-color: color.complement($btn-color-hover);
$complement-color2: color.complement($color-yellow);
//Skuggor
$shadow-light:0 1px 6px rgb(0, 0, 0, 0.582);
$shadow-medium:0 4px 12px rgba(0, 0, 0, 0.582);
$shadow-fantasy: 0 0px 12px rgba(236, 136, 13, 0.874),
0px 0px 12px rgba(254, 153, 2, 0.874);
//Fonter
$font-primary:'Inter',
sans-serif;
$fontweight-bold:700;
//Border-radius
$radius-medium: 8px;
//Övergångar
$transition-base: 0.3s ease;
//Marginaler
$margin-general-md: 16px;
$margin-general-s:8px;
$margin-general-large: 50px;
$margin-general-lg: 35vh;
// Padding
$padding-base: 0.25rem 1rem;