@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
#search-button {
    @include button($btn-color-primary, $color-white)
}

#countryMap-btn {
    @include button($color-complement-hover, $color-text);
    margin-bottom: 1rem;
}