@use "../abstracts/variables" as *;
@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
.spinner {
    width: 34px;
    height: 34px;
    margin: 1.5rem auto;
    border: 3px solid #ccc;
    border-top: 3px solid $color-text;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loadingIcon {
    position: fixed;
    left: 42%;
    bottom: 50%;
    z-index: 50;
    text-align: center;
    font-family: "Honk", system-ui, sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    background-color: $btn-color-primary;
    text-shadow: $shadow-medium;
    box-shadow: $shadow-fantasy;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    border: 3px solid #ccc;
    animation: BounceTada 1.6s linear infinite;
    //border-top: 3px solid $color-text;
}

.loadingIcon.hidden {
    display: none;
}

@media (max-width: 420px) {
    .loadingIcon {
        width: 150px;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}