@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
#map {
    height: 450px;
    width: 450px;
    transition: $transition-base;
    display: block;
    border-radius: $radius-medium;
    border: 4px solid;
    border-image: linear-gradient(90deg, $btn-color-primary, $color-accent, $color-sun, $color-bg-orange) 1;
    box-shadow: $shadow-medium;
    opacity: 1;
    margin: 0 auto;
}

#map.hidden {
    display: none;
    opacity: 0;
}

@media (max-width: 768px) {}

@media (max-width: 530px) {
    #map {
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 375px) {
    #map {
        width: 275px;
        height: 300px;
    }
}