@use "../abstracts/variables" as *;
@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
.spinner {
    width: 34px;
    height: 34px;
    margin: 1.5rem auto;
    border: 3px solid #ccc;
    border-top: 3px solid $color-text;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}