@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
#countriesDisplay {
    display: flex;
}

#countriesDisplay.hidden {
    display: none;
}

#countriesDiv.hidden {
    display: none;
}

.countriesflag {
    display: flex;
    align-items: center;
}