        @use "../abstracts/variables" as *;
        @use "../abstracts/mixins" as *;
        footer {
            margin: 0 auto;
            text-align: center;
            height: 70px;
            background-color: $color-bg-dark;
            width: 100%;
            margin-top: 1rem;
            padding: 12px 0 0;
        }