@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
%flex-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%flex-layout-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    @extend %flex-layout-start;
    max-width: 1140px;
    margin: 0 auto;
    flex: 1;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#showArea {
    display: flex;
    flex-direction: column;
}